* {
  box-sizing: border-box;
}

body {
  height:100%;
  display:grid;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template: 
    "navBar"
    "banner"
    "about"
    "work"
    "contact"
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  
}

p {
  margin: 0;
}

.page-wrapper{
  margin-right:5%;
  line-height:6;
  
  
  
}

.hero-banner{
  grid-area:banner;
  width:100%;
  background-color:purple;

}

header{
  
  grid-area:navBar;
  background-color:pink;
  align-content:center;
  display:flex;
  width:100%;
  
  
  
  

}

nav{
  align-content:center;
 
  flex-direction:flex-end;
  
}

#about{
  grid-area:about;
  width:100%;
  background-color:red;
  
}

#work{
  grid-area:work;
  width:100%;
  background-color:green;
  grid-row: 3 / 5;
}

#contact{
  grid-area:contact;
  width:100%;
  background-color:orange;
  
}


/*5 rows and 4 columns*
